<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FBRepacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FBRepacker.Properties.Settings>
            <setting name="OpenExtractPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="OutputExtractPAC" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="OutputRepackPAC" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputWAV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenRepackPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="VBNPathNUDtoDAE" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="NUDPathNUDtoDAE" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="OutputPathNUDtoDAE" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="DAEPathDAEtoNUD" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="OutputPathDAEtoNUD" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="VBNPathDAEtoNUD" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="exportVBN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputRepackPsarc" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="PsarcRepackFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="PsarcPACFilePathList" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="PsarcOutputFileName" serializeAs="String">
                <value>patch</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MBONDataFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="FBDataFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputDataFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="CScriptFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="BABBFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputScriptFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="scriptBigEndian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinScriptPointer" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="B4ACFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ProjecitleBinaryFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputProjectileJSONFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ProjecitleJSONFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputProjectileBinFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ProjectileBinaryInputGameVer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="convertMBONProjecitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReloadBinaryFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputReloadJSONFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ReloadJSONFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputReloadBinFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ReloadBinaryInputGameVer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="convertMBONReload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HitBinaryFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputHitJSONFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="HitJSONFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputHitBinFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="HitBinaryInputGameVer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="convertMBONHit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ALEOFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputALEOFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputVoiceLogicBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputVoiceLogicJSONFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputVoiceLogicJSON" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputVoiceLogicBinaryFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputNus3File" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputNameandHashFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Nus3SoundHashFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soundHashMainTitle" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="inputLMBFilePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputLMBFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputFBUnitInfoListBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputFBUnitInfoListJSONFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputFBUnitInfoListJSON" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputFBUnitInfoListBinaryFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputMeleeVarBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputFBSeriesInfoListBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputFBSeriesInfoListJSONFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputFBSeriesInfoListJSON" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputFBSeriesInfoListBinaryFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputNTXBBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputNTXBJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputNTXBJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputNTXBBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputUnitDataHashSchemaBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputUnitDataHashSchemaJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputUnitDataHashSchemaJSON" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputUnitDataBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputUnitDataJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputUnitDataJSON" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputUnitDataBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="convertMBONUnitData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="inputAudioPACInfoFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputAudioPACInfoFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="audioPACInfoSTREAMName" serializeAs="String">
                <value>003.STREAM</value>
            </setting>
            <setting name="audioPACInfoNus3SoundHashFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inputEFPBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputEFPJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputEFPJSON" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputEFPBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputUnitDataReloadBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="scriptModifyLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scriptModifyRefactor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inputScriptRefactorTxtFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputPsarcTBLBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputPsarcTBLJson" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputPsarcJSON" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputPsarcTBLBinary" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="psarcTBLParseRepackFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="identifyPACFilesTBLParse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="outputPsarcTBLBinaryNameasPatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="truncateProjectileType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allUnitInfoListInputMBON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allSeriesInfoListInputMBON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportCustomUnitList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inputModelEffectsBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputModelEffectsJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputModelEffectsJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputModelEffectsBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputHitboxPropertiesBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputHitboxPropertiesJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputHitboxPropertiesJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputHitboxPropertiesBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputMapListBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputMapListJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputMapListJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputMapListBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputResizeLMBBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputResizeLMBBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputSimpleNUD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inputCosmeticListBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputCosmeticListJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="inputCosmeticListJSONPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputCosmeticListBinaryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
        </FBRepacker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
